<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="/fragments/header :: header"></div>


<div class="container">
<div class="linkName">
    <h2 th:text="#{editCustomer}"></h2>
</div>

    <form th:action="'/customers/edit/'+${id}"
          th:object="${editObject}"
          method="post">
        <div>
            <label>

                <input type="text" th:field="*{name}" th:placeholder="#{name}"/>
            </label>
        </div>
        <div>
            <label>

                <input type="text" th:field="*{address}" th:placeholder="#{address}"/>
            </label>
        </div>
        <div>
            <label>

                <input type="text" th:field="*{email}" th:placeholder="#{email}"/>
            </label>
        </div>

        <div>
            <label>

                <input type="text" th:field="*{tel}" th:placeholder="#{phone}"/>
            </label>
        </div>
        <div>
            <label>

                <input type="text" th:field="*{lastname}" th:placeholder="#{lastName}"/>
            </label>
        </div>
        <div>
            <button type="submit" th:text="#{confirm}"></button>
        </div>
    </form>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>