<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="/fragments/header :: header"></div>


<div class="container">
<div class="linkName">
    <h2>Edit Customer</h2>
</div>

    <form th:action="'/customers/edit/'+${id}"
          th:object="${editObject}"
          method="post">
        <div>
            <label>
                <input  th:field="*{name}" placeholder="customer name"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:field="*{lastname}"  placeholder="customer lastname"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:field="*{address}"  placeholder="customer address"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:field="*{email}"  placeholder="customer email"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:field="*{tel}"  placeholder="customer Tel"/>
            </label>
        </div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>