<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="/fragments/header :: header"></div>


<div class="container" style="text-align: center">
    <div class="linkName">
        <h2 th:text="#{customerView}"></h2>
    </div>
    <div class="customer">
        <h2 th:text="${object.name}+' '+${object.lastname}"></h2>
        <p th:text="${object.address}"></p>
        <p th:text="${object.tel}"></p>
        <p th:text="${object.email}"></p>

        <a th:href="@{'/customers/edit/{id}'(id=${object.id})}" class="btn btn-primary" th:text="#{edit}"></a>
        <a th:href="@{'/customers/list'}" class="btn btn-success" th:text="#{customerList}"></a>


    </div>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>