<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<body>
<div th:replace="/fragments/header :: header"></div>

<div class="container">
    <div class="linkName">
        <h2>Create product</h2>
    </div>
    <form th:action="@{'/products/create'}"
          th:object="${newObject}"
          method="post">
        <div>
            <label>
                <input type="text" th:field="*{name}" placeholder="product Name"/>
            </label>
        </div>
        <div>
            <label>
                <input type="number" th:field="*{price}" placeholder="Price"/>
            </label>
        </div>
        <div>
            <label>
                <textarea th:field="*{description}" placeholder="About Goods"></textarea>
            </label>
        </div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
</div>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>