<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<body>
<div th:replace="/fragments/header :: header"></div>


<div class="container">
    <div class="linkName">
        <h2>Edit location</h2>
    </div>
    <form th:action="'/locations/edit/'+${id}"
          method="post">
        <div>
            <label title="location Name">
                <input  th:value="*{editObject.getLocationName()}" name="locationName" placeholder="Location name"/>
            </label>
        </div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
</div>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>