<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location List</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="/fragments/header :: header"></div>

<div class="container">

    <div class="linkName">
        <h2 th:text="#{locationList}"></h2>
    </div>
    <a href="/locations/create" class="btn btn-success" th:text="#{newLocation}"> <i class="fa fa-arrow-circle-o-left"></i></a>

    <table class="w-100 mt-3 text-center mx-auto">
        <thead>
        <tr>
            <th class="tbody_th">  ID</th>
            <th class="tbody_th" th:text="#{nickname}">  </th>
            <th class="tbody_th" th:text="#{action}"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="location : ${objects}">
            <td class="tbody_td"><span th:text="${location.id}"> ID</span> </td>
            <td class="tbody_td"><span th:text="${location.locationName}">Name</span></td>
            <td class="tbody_td col col-4"><a th:href="@{'/locations/delete/{id}'(id=${location.id})}" class="btn btn-danger" th:text="#{delete}"></a><a th:href="@{'/locations/{id}'(id=${location.id})}" class="btn btn-success" th:text="#{view}"></a><a th:href="@{'/locations/edit/{id}'(id=${location.id})}" class="btn btn-primary" th:text="#{edit}"></a></td>

        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>