<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="/fragments/header :: header"></div>


<div class="container" >
    <div class="linkName">
        <h2>Location</h2>
    </div>
    <div class="location">
        <h2 th:text="${object.locationName}">Name</h2>
        <p th:text="${object.id}">Price</p>

        <a th:href="@{'/locations/edit/{id}'(id=${object.id})}" class="btn btn-primary">Edit</a>
        <a th:href="@{'/locations/list'}" class="btn btn-success">Location list</a>


    </div>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>