<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<header th:fragment="header">
    <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}"> [RBWarehouse] </a>
            </div>
            <ul class="nav navbar-nav">

                <li><a class="nav-link" th:href="@{/customers/list}">Customer</a></li>

                <li><a class="nav-link" th:href="@{/positions/positionList}">Position List</a></li>

                <li><a class="nav-link" th:href="@{/orderList}">Order</a></li>

                <li><a class="nav-link" th:href="@{/products/list}">Products</a></li>

                <li><a class="nav-link" th:href="@{/employees/list}">Employee</a></li>

                <li><a class="nav-link" th:href="@{/locations/list}"> Location</a> </li>
            </ul>
        </div>
    </nav>
</header>

</body>
</html>