<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/mdbootstrap.com/docs/standard/content-styles/flags/}"/>
</head>
<body>

<header th:fragment="header">
    <nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}"> [RBWarehouse] </a>
            </div>
            <ul class="nav navbar-nav">

                <li><a class="nav-link" th:href="@{/customers/list}" th:text="#{customer}"></a></li>

                <li><a class="nav-link" th:href="@{/positions/positionList}" th:text="#{position}"></a></li>

                <li><a class="nav-link" th:href="@{/orderList}" th:text="#{order}"></a></li>

                <li><a class="nav-link" th:href="@{/products/list}" th:text="#{products}"></a></li>

                <li><a class="nav-link" th:href="@{/employees/list}" th:text="#{employee}"></a></li>

                <li><a class="nav-link" th:href="@{/locations/list}" th:text="#{location}"></a> </li>

                <li> <a class="nav-link" href="?lang=lt"><i class="lithuania flag"></i>LT</a> </li>

                <li> <a class="nav-link" href="?lang=us"><i class="united kingdom flag"></i>EN</a> </li>

            </ul>

        </div>

    </nav>
</header>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>
</body>
</html>