table{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 4px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    width: 70%;
}

.table_body, .tbody_td, .tbody_th
{ border: 1px solid black; }
.table_body  { border-collapse: collapse; }

.btn{
    margin-top: 5%;
}
.employee{
    text-align: center;
}
.form-control{

    width:0px;
}
footer{
    margin-top: 200px;
}
.navbar-brand{
    color: black;
    font-family: "cursive";
}
.container{
    text-align: center;
    margin-top: 50px;
}
.linkName{
    margin-bottom: 50px;
}
.form-group {
    margin-bottom: 1rem;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}
