<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<head th:replace="/fragments/head :: head"></head>-->
<body>

<!--<div th:replace="/fragments/header :: header"></div>-->

<!--<div class="container" th:class="align-center">-->

<h2>Register new Supplier</h2>

<form action="#"
      th:action="@{/createNewSupplier}"
      th:object="${supplier}"
      method="post">
    <div>
        <label>

            <input type="text" th:field="*{name}" placeholder="Name"/>
        </label>
    </div>
    <div>
        <label>

            <input type="text" th:field="*{address}" placeholder="Address"/>
        </label>
    </div>
    <div>
        <label>

            <input type="email" th:field="*{email}" placeholder="Email"/>
        </label>
    </div>

    <div>
        <label>

            <input type="text" th:field="*{tel}" placeholder="Phone"/>
        </label>
    </div>

    <div>
        <button class="green-btn" type="submit">Register</button>
    </div>
</form>
</div>

<!--<footer th:replace="/fragments/footer :: footer"></footer>-->

</body>
</html>