<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CustomerList</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>

<div class="products" style="text-align: center">
<a href="add" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>New customer</a>

<table>
    <thead>
    <tr>
        <th class="tbody_th">  ID</th>
        <th class="tbody_th">  Name</th>
        <th class="tbody_th"> Lastname </th>
        <th class="tbody_th"> Address </th>
        <th class="tbody_th"> Email </th>
        <th class="tbody_th">Phone </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customers : ${customers}">
        <td class="tbody_td"><span th:text="${customers.id}"> ID</span> </td>
        <td class="tbody_td"><span th:text="${customers.name}">Name</span></td>
        <td class="tbody_td"><span th:text="${customers.lastname}">Lastname</span></td>
        <td class="tbody_td"><span th:text="${customers.address}">Address</span></td>
        <td class="tbody_td"><span th:text="${customers.email}">Email</span></td>
        <td class="tbody_td"><span th:text="${customers.tel}">Phone</span></td>
        <td><a th:href="@{'/customer/deleteCustomer/{id}'(id=${customers.id})}" class="btn btn-danger">Delete</a></td>
        <td><a th:href="@{'/customer/editCustomer/{id}'(id=${customers.id})}" class="btn btn-primary">Edit</a></td>
    </tr>
    </tbody>
</table>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>