<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Position</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="/fragments/header :: header"></div>


<div class="container">
    <div class="linkName">
        <h2>Edit Position</h2>
    </div>
    <form th:action="'/positions/editPosition/'+${id}"
          method="post">
        <div class="form-group blu-margin">
            <select class="form-control" th:field="${editPosition.location.id}"  id="locations">
                <option value="0">select operator</option>
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:text="${location.locationName}"></option>
            </select>
        </div>
        <div class="form-group blu-margin">
            <select class="form-control" th:field="${editPosition.product.id}"  id="positions">
                <option value="0">select operator</option>
                <option th:each="product : ${products}"
                        th:value="${product.id}"
                        th:text="${product.name}"></option>
            </select>
        </div>
        <div>
            <label>

                <input type="number" th:field="*{editPosition.quantity}" name="quantity" placeholder="Quantity"/>
            </label>
        </div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>