<!DOCTYPE html>
<html lang="en">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<head>
    <meta charset="UTF-8">
    <title>Add Items</title>
    <div th:replace="/fragments/header :: header"></div>

</head>
<body>
<div class="container">
    <form th:action="'/editItem/'+${id} "
          method="post">
        <div class="linkName">
            <h2>Edit Item</h2>
        </div>


        <div class="form-group blu-margin">
            <select class="form-control" th:field="${editItem.product}" id="locations">
                <option value="0">select operator</option>
                <option th:each="product : ${products}"
                        th:value="${product.id}"
                        th:text="${product.name}+' '+${product.price}"></option>
            </select>
        </div>

        <input type="hidden" th:field="*{editItem.orderId}">
        <div>
            <label>
                <div class="alert-danger" th:if="${quantityError}"> Not enough quantity in storage </div>
                <input type="number" th:field="*{editItem.quantity}" placeholder="Quantity"/>
            </label>
        </div>
        <div >
            <button class="btn btn-primary" type="submit">Confirm</button>
        </div>
    </form>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>