<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>


<div class="container">
    <form th:action="'/employees/editEmployee/'+${id}"
          method="post">
        <div>
            <label>
                <input  th:value="*{editEmployee.getName()}" name="employeeName" placeholder=" name"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:value="*{editEmployee.getSurname()}" name="employeeSurname" placeholder=" lastname"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:value="*{editEmployee.getAddress()}" name="employeeAddress" placeholder=" address"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:value="*{editEmployee.getUsername()}" name="employeeUsername" placeholder=" email"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:value="*{editEmployee.getRole()}" name="employeeRole" placeholder="Role"/>
            </label>
        </div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>