<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<body>
<div th:replace="/fragments/header :: header"></div>


<div class="container">
    <form th:action="'/products/editProduct/'+${id}"
          method="post">
        <div>
            <label>
                <input  th:value="*{editProduct.getName()}" name="productName" placeholder="product Name"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:value="*{editProduct.getPrice()}" name="productPrice" placeholder="Price"/>
            </label>
        </div>
        <div>
            <label>
                <input th:value="*{editProduct.getDescription()}" name="productDescription" placeholder="About Goods"/>
            </label>
        </div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
</div>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>