<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <div th:replace="/fragments/header :: header"></div>
</head>
<body>

<form action="#"
      th:action="@{/createNewOrder}"
      th:object="${order}"
      method="put">


<div class="col-lg-3" th:object="${customers}">
    <select class="form-control" id="customerOrder" name="customers">
        <option value="">Select Customer</option>
        <option th:each="customers : ${customers}"
                th:value="${customers.name}"
                th:text="${customers.name}+'  '+${customers.lastname}"></option>
    </select>
</div>
<div class="col-lg-3" th:object="${employees}">
    <select class="form-control" id="employeeOrder" name="employees">
        <option value="">Select Employee</option>
        <option th:each="employee : ${employees}"
                th:value="${employee.name}"
                th:text="${employee.name}+'  '+${employee.surname}"></option>
    </select>

<div  class="items">
        <table>
            <thead>
            <tr>
                <th> Product Id</th>
                <th> Product price</th>
                <th> Name </th>
                <th> Quantity </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td><span th:text="${item.id}"> ID</span> </td>
                <td><span th:text="${item.price}">Price</span></td>
                <td><span th:text="${item.name}">Name</span></td>
                <td><input name="quantity" type="number"></td>
            </tr>
            </tbody>
        </table>
        <div>
            <button type="submit">Add item</button>
        </div>


</div>
</form>
</body>
</html>