<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <div th:replace="/fragments/header :: header"></div>
</head>
<body>

<div class="container">

<form action="#"
      th:action="@{/createNewOrder}"
      th:object="${orderItems}"
      method="post">

    <div class="linkName">
        <h2 th:text="#{createNewOrder}"></h2>
    </div>


<div class="form-group blu-margin" >
    <select class="form-control" th:field="${order.customer.id}"  id="customers">
        <option value="0" th:text="#{selectCustomer}"></option>
        <option th:each="customer : ${customers}"
                th:value="${customer.id}"
                th:text="${customer.name}+' '+${customer.lastname}"></option>
    </select>
</div>
<div class="form-group blu-margin" >
    <select class="form-control" th:field="${order.employee.id}" id="employeeOrder" name="employees">
        <option value="" th:text="#{selectEmployee}"></option>
        <option th:each="employee : ${employees}"
                th:value="${employee.id}"
                th:text="${employee.name}+'  '+${employee.surname}"></option>
    </select>
</div>
        <div>
            <button class="btn btn-success" type="submit" th:text="#{confirm}"></button>
        </div>

</form>
    <footer th:replace="/fragments/footer :: footer"></footer>
</div>
</body>
</html>