<!DOCTYPE html>
<html lang="en">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<div th:replace="/fragments/header :: header"></div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="linkName">
        <h2 th:text="#{packingList}"></h2>
    </div>
<table class="w-100 mt-3 text-center mx-auto">
    <thead>
    <tr>

        <th class="tbody_th" th:text="#{orderId}"></th>
        <th class="tbody_th" th:text="#{employeeName}"></th>
        <th class="tbody_th" th:text="#{employeeLastname}"></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${order}">
        <td class="tbody_td"><span th:text="${order.id}"> ID</span></td>
        <td class="tbody_td"><span th:text="${order.employee.name}"> Employee name</span></td>
        <td class="tbody_td"><span th:text="${order.employee.surname}"> Employee lastname</span></td>
    </tr>
    </tbody>
</table>

<table class="w-100 mt-3 text-center mx-auto>
    <thead>
    <tr>
        <th class="tbody_th" th:text="#{productName}"></th>
        <th class="tbody_th" th:text="#{quantity}"></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="orderItem : ${items}">
        <td class="tbody_td"><span th:text="${orderItem.product.name}"> Product name</span></td>
        <td class="tbody_td"><span th:text="${orderItem.quantity}"> Product Price</span></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>