<!DOCTYPE html>
<html lang="en">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<head>
    <meta charset="UTF-8">
    <title>Position</title>
    <div class="container" style="text-align: center">
        <div class="position">
            <div class="linkName">
                <h2 th:text="#{positions}"></h2>
            </div>
            <h2 th:text="${position.id}">ID</h2>
            <p th:text="${position.location.locationName}">Location</p>
            <p th:text="${position.product.name}">Product</p>
            <p th:text="${position.quantity}">Phone</p>

        </div>
    </div>
</head>
<body>

</body>
</html>