<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CustomerList</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="/fragments/header :: header"></div>
<div class="container">


        <div class="linkName">
            <h2 th:text="#{positionList}"></h2>
        </div>
<a href="createNewPosition" class="btn btn-success" th:text="#{createNewPosition}"> <i class="fa fa-arrow-circle-o-left"></i></a>
    <a href="needToOrder" class="btn btn-primary" th:text="#{needToOrder}"> <i class="fa fa-arrow-circle-o-left"></i></a>
</div>
<table>
    <thead>
    <tr>
        <th class="tbody_th">  ID</th>
        <th class="tbody_th" th:text="#{location}"></th>
        <th class="tbody_th" th:text="#{productName}"></th>
        <th class="tbody_th" th:text="#{quantity}"></th>
        <th class="tbody_th" colspan="2" th:text="#{action}"></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="position : ${positions}">
        <td class="tbody_td"><span th:text="${position.id}"> ID</span> </td>
        <td class="tbody_td"><span th:text="${position.location.getLocationName}">Location</span></td>
        <td class="tbody_td"><span th:text="${position.product.getName}">ProductName</span></td>
        <td class="tbody_td"><span th:text="${position.quantity}">Quantity</span></td>
        <td class="tbody_td"><a th:href="@{'/positions/delete/{id}'(id=${position.id})}" class="btn btn-danger" th:text="#{delete}"></a></td>
        <td class="tbody_td"><a th:href="@{'/positions/editPosition/{id}'(id=${position.id})}" class="btn btn-primary" th:text="#{edit}"></a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>