<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>


<div class="container" style="text-align: center">
    <div class="product">
        <h2 th:text="${product.name}">Name</h2>
        <p th:text="${product.price}">Price</p>
        <p th:text="${product.description}">Description</p>

    </div>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>