<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<div th:replace="/fragments/header :: header"></div>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th class="tbody_th"> ID</th>
        <th class="tbody_th"> Customer name</th>
        <th class="tbody_th"> Customer lastname</th>
        <th class="tbody_th"> Employee name</th>
        <th class="tbody_th"> Employee lastname</th>
        <th class="tbody_th"> Order Status</th>
        <th class="tbody_th" colspan="3"> Action </th>
        <th class="tbody_th"> Change Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${order}">
        <td class="tbody_td"><span th:text="${order.id}"> ID</span></td>
        <td class="tbody_td"><span th:text="${order.customer.name}"> Customer Name</span></td>
        <td class="tbody_td"><span th:text="${order.customer.lastname}"> Customer lastname</span></td>
        <td class="tbody_td"><span th:text="${order.employee.name}"> Employee name</span></td>
        <td class="tbody_td"><span th:text="${order.employee.surname}"> Employee lastname</span></td>
        <td class="tbody_td"><span th:text="${order.status}"> Order Status</span></td>
        <td class="tbody_td"><a th:href="@{'/deleteOrder/{id}'(id=${order.id})}" class="btn btn-danger"> Delete</a> </td>
        <td class="tbody_td"><a th:href="@{'/createdOrder/{id}/addItem/'(id=${order.id})}" class="btn btn-primary"> AddItem</a> </td>
        <td class="tbody_td"><a th:href="@{'/createdOrder/{id}/'(id=${order.id})}" class="btn btn-success"> save</a> </td>
        <td class="tbody_td">
        <select name="status" th:field="*{{status}}">
            <option th:each="status : ${T(com.example.robwarehouse.model.Status).values()}"
                    th:value="${status}"
                    th:selected="${status == T(com.example.robwarehouse.model.Status)}"
                    th:text="${status}"></option>
        </select>
        </td>

    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th class="tbody_th"> Product name</th>
        <th class="tbody_th"> Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderItem : ${items}">
        <td class="tbody_td"><span th:text="${orderItem.product.name}"> Product Price</span></td>
        <td class="tbody_td"><span th:text="${orderItem.price}"> Product Price</span></td>
        <td class="tbody_td"><a th:href="@{'/deleteItem/{id}'(id=${orderItem.id})}" class="btn btn-danger">Del</a>  </td>
        <td class="tbody_td"><a th:href="@{'/editItem/{id}'(id=${orderItem.id})}" class="btn btn-secondary">Edit</a>  </td>
    </tr>
    </tbody>
</table>


<!--<div class="comments">-->
<!--    <h2>List</h2>-->
<!--    <div class="comment" th:each="orderItem : ${items}">-->
<!--        -->
<!--&lt;!&ndash;        <h5 th:text="'Commented on ' + ${#dates.format(order.creationDate, 'yyyy-MM-dd')}">Data</h5>&ndash;&gt;-->
<!--        <p th:text="'Product Name '+${orderItem.product.name}+' Price '+${orderItem.price}+' Quantity '+${orderItem.quantity}">Body</p>-->
<!--&lt;!&ndash;            <a th:href="@{'/createdOrder/{id}/addItem/'(id=orderItem.id)}">&ndash;&gt;-->
<!--                <button class="blue-btn" type="button">Edit Item</button>-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="order">-->
<!--    <h2 th:text="${order.id}">Order ID</h2>-->
<!--    <p th:text="${order.customer.name}+ ' ' +${order.customer.lastname}">Customer</p>-->
<!--    <p th:text="${order.creationDate}">Creation Date</p>-->
<!--    <p th:text="${order.employee.name}+ ' ' +${order.employee.surname}">Worker</p>-->
<!--    <p th:text="${order.getOrderItems}">Products</p>-->
<!--</div>-->
</body>
</html>