<!DOCTYPE html>
<html lang="en">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<div th:replace="/fragments/header :: header"></div>
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<div class="container">
<form action="#"
      >

    <div class="linkName">
        <h2 th:text="#{order}"></h2>
    </div>
<table>
    <thead>
    <tr>
        <th class="tbody_th"> ID</th>
        <th class="tbody_th" th:text="#{customerName}"></th>
        <th class="tbody_th" th:text="#{customerLastname}"> Customer lastname</th>
        <th class="tbody_th" th:text="#{employeeName}"> Employee name</th>
        <th class="tbody_th" th:text="#{employeeLastname}"> Employee lastname</th>
        <th class="tbody_th" th:text="#{status}"> Order Status</th>
        <th class="tbody_th" th:text="#{price}"> Price</th>
        <th class="tbody_th" colspan="3" th:text="#{action}"> Action </th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${order}">
        <td class="tbody_td"><span th:text="${order.id}"> ID</span></td>
        <td class="tbody_td"><span th:text="${order.customer.name}"> Customer Name</span></td>
        <td class="tbody_td"><span th:text="${order.customer.lastname}"> Customer lastname</span></td>
        <td class="tbody_td"><span th:text="${order.employee.name}"> Employee name</span></td>
        <td class="tbody_td"><span th:text="${order.employee.surname}"> Employee lastname</span></td>
        <td class="tbody_td"><span th:text="${order.status}"> Order Status</span></td>
        <td class="tbody_td"><span th:text="${order.totalPrice}"> Total Price </span></td>
        <td class="tbody_td"><a th:href="@{'/createdOrder/{id}/addItem/'(id=${order.id})}" class="btn btn-primary" th:text="#{add}"></a> </td>
        <td class="tbody_td"><a th:href="@{'/createdOrder/{id}/packingList'(id=${order.id})}" class="btn btn-success" th:text="#{packingList}"></a> </td>
        <td class="tbody_td"><a th:href="@{'/editOrder/{id}'(id=${order.id})}" class="btn btn-success" th:text="#{changeStatus}"></a></td>

    </tr>
    </tbody>
</table>

    <div class="linkName" style="margin-top: 20px">
        <h2 th:text="#{orderItemList}"></h2>
    </div>

<table>
    <thead>
    <tr>
        <th class="tbody_th" th:text="#{productName}"></th>
        <th class="tbody_th" th:text="#{price}"></th>
        <th class="tbody_th" th:text="#{quantity}"></th>
        <th class="tbody_th" colspan="2" th:text="#{action}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderItem : ${items}">
        <td class="tbody_td"><span th:text="${orderItem.product.name}"> Name</span></td>
        <td class="tbody_td"><span th:text="${orderItem.price}">  Price</span></td>
        <td class="tbody_td"><span th:text="${orderItem.quantity}"> Quantity</span></td>
        <td class="tbody_td"><a th:href="@{'/deleteItem/{id}'(id=${orderItem.id})}" class="btn btn-danger" th:text="#{delete}"></a>  </td>
        <td class="tbody_td"><a th:href="@{'/editItem/{id}'(id=${orderItem.id})}" class="btn btn-secondary" th:text="#{edit}"></a>  </td>
    </tr>
    </tbody>
</table>

</form>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>