<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<div th:replace="/fragments/header :: header"></div>
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<form action="#"
      >
<table>
    <thead>
    <tr>
        <th class="tbody_th"> ID</th>
        <th class="tbody_th"> Customer name</th>
        <th class="tbody_th"> Customer lastname</th>
        <th class="tbody_th"> Employee name</th>
        <th class="tbody_th"> Employee lastname</th>
        <th class="tbody_th"> Order Status</th>
        <th class="tbody_th"> Price</th>
        <th class="tbody_th" colspan="3"> Action </th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${order}">
        <td class="tbody_td"><span th:text="${order.id}"> ID</span></td>
        <td class="tbody_td"><span th:text="${order.customer.name}"> Customer Name</span></td>
        <td class="tbody_td"><span th:text="${order.customer.lastname}"> Customer lastname</span></td>
        <td class="tbody_td"><span th:text="${order.employee.name}"> Employee name</span></td>
        <td class="tbody_td"><span th:text="${order.employee.surname}"> Employee lastname</span></td>
        <td class="tbody_td"><span th:text="${order.status}"> Order Status</span></td>
        <td class="tbody_td"><span th:text="${order.totalPrice}"> Total Price </span></td>
        <td class="tbody_td"><a th:href="@{'/createdOrder/{id}/addItem/'(id=${order.id})}" class="btn btn-primary"> AddItem</a> </td>
        <td class="tbody_td"><a th:href="@{'/createdOrder/{id}/packingList'(id=${order.id})}" class="btn btn-success"> Packing List</a> </td>
        <td class="tbody_td"><a th:href="@{'/editOrder/{id}'(id=${order.id})}" class="btn btn-success"> Change status</a></td>

    </tr>
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th class="tbody_th"> Product name</th>
        <th class="tbody_th"> Price</th>
        <th class="tbody_th"> Quantity</th>
        <th class="tbody_th" colspan="2"> Action button</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderItem : ${items}">
        <td class="tbody_td"><span th:text="${orderItem.product.name}"> Name</span></td>
        <td class="tbody_td"><span th:text="${orderItem.price}">  Price</span></td>
        <td class="tbody_td"><span th:text="${orderItem.quantity}"> Quantity</span></td>
        <td class="tbody_td"><a th:href="@{'/deleteItem/{id}'(id=${orderItem.id})}" class="btn btn-danger">Del</a>  </td>
        <td class="tbody_td"><a th:href="@{'/editItem/{id}'(id=${orderItem.id})}" class="btn btn-secondary">Edit</a>  </td>
    </tr>
    </tbody>
</table>

</form>
</body>
</html>