<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<body>


<div th:replace="/fragments/header :: header"></div>
<div class="container">

    <div class="linkName">
        <h2>Create new employee</h2>
    </div>

<form action="#"
      th:action="@{'/employees/create'}"
      th:object="${newObject}"
      method="post">
    <div>
        <label>

            <input type="text" th:field="*{name}" placeholder="Name"/>
        </label>
    </div>
    <div>
        <label>

            <input type="text" th:field="*{surname}" placeholder="Surname"/>
        </label>
    </div>
    <div>
        <label>

            <input type="text" th:field="*{address}" placeholder="Address"/>
        </label>
    </div>

    <div>
        <label>

            <input type="text" th:field="*{username}" placeholder="Username"/>
        </label>
    </div>
    <div>
        <label>

            <input type="text" th:field="*{role}" placeholder="Role"/>
        </label>
    </div>
    <div>
        <button class="green-btn" type="submit">Register</button>
    </div>
</form>
</div>

<footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>