<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>


<div class="container">
    <form th:action="'/employees/edit/'+${id}"
          th:object="${editObject}"
          method="post">
        <div>
            <label>
                <input  th:field="*{name}"  placeholder=" name"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:field="*{surname}"  placeholder=" lastname"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:field="*{address}"  placeholder=" address"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:field="*{username}"  placeholder=" email"/>
            </label>
        </div>
        <div>
            <label>
                <input  th:field="*{role}"  placeholder="Role"/>
            </label>
        </div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>