<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee list</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="/fragments/header :: header"></div>

<div class="container">

    <div class="linkName">
        <h2 th:text="#{employeeList}"></h2>
    </div>
    <a href="/employees/create" class="btn btn-success" th:text="#{createNewEmployee}"> <i class="fa fa-arrow-circle-o-left"></i></a>

    <table>
        <thead>
        <tr>
            <th class="tbody_th">  ID</th>
            <th class="tbody_th" th:text="#{name}"></th>
            <th class="tbody_th" th:text="#{lastName}"></th>
            <th class="tbody_th" th:text="#{address}"></th>
            <th class="tbody_th" th:text="#{username}"></th>
            <th class="tbody_th"> Role </th>
            <th class="tbody_th" colspan="3" th:text="#{action}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employees : ${objects}">
            <td class="tbody_td"><span th:text="${employees.id}"> ID</span> </td>
            <td class="tbody_td"><span th:text="${employees.name}">Name</span></td>
            <td class="tbody_td"><span th:text="${employees.surname}">Lastname</span></td>
            <td class="tbody_td"><span th:text="${employees.address}">Address</span></td>
            <td class="tbody_td"><span th:text="${employees.username}">Email</span></td>
            <td class="tbody_td"><span th:text="${employees.role}">Phone</span></td>
            <td class="tbody_td"><a th:href="@{'/employees/delete/{id}'(id=${employees.id})}" class="btn btn-danger" th:text="#{delete}"></a></td>
            <td class="tbody_td"><a th:href="@{'/employees/edit/{id}'(id=${employees.id})}" class="btn btn-primary" th:text="#{edit}"></a></td>
            <td class="tbody_td"><a th:href="@{'/employees/{id}'(id=${employees.id})}" class="btn btn-primary" th:text="#{view}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>