<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="/fragments/header :: header"></div>

<div class="container" >

    <div class="linkName">
        <h2>Employee</h2>
    </div>

    <div class="employee">
        <h2 th:text="${object.name}+' '+${object.surname}">Name</h2>
        <p th:text="${object.address}">Address</p>
        <p th:text="${object.username}">Phone</p>
        <p th:text="${object.role}">Email</p>

        <a th:href="@{'/employees/edit/{id}'(id=${object.id})}" class="btn btn-primary">Edit</a>
        <a th:href="@{'/employees/list'}" class="btn btn-success">Employee list</a>
    </div>
</div>
<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>